{% extends 'genericos/base.html' %}

{% block title_head %}
<title>about</title>
{% endblock title_head %}


{% block h1_header %}
<h1>Un poco sobre mi</h1>
{% endblock h1_header %}

{% block contenido %}
<br> Soy Martinez Christian, curso la Tecnicatura de Analista de Sistemas en el I.S.F.T 179 de Moreno, y tambien estoy terminando el curso de Python en CoderHouse, este es mi trabajo final en él. </br>
<br> Mi perfil de LinkedIn es: https://www.linkedin.com/in/christian-tomas-mart%C3%ADnez-villagra-39a71223a/ </br>
<br> Mi perfil de GitHub es: https://github.com/christiantomasmartinez </br>
{% endblock contenido %}